html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #674baf;
    background-image: url('../images/bg-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
}

.header .logo {
    margin: 35px 50px 60px ;
    max-width: 350px;
    margin-left: 65px;
}

.header {
    padding: 10px;
}

.corpo {
    display: flex;
    justify-content: center;
}

.corpo .ilustracao {
    max-width: 100%;
    padding: 9px;
    margin: 0 44px 0 50px;
}

.corpo .corpo-centro .titulo-build {
    font-size: 4rem;
    color: #ffffff;
    margin-top: 50px;
    font-weight: 500;
}

.corpo .corpo-centro .titulo-fans {
    font-size: 4rem;
    color: #ffffff;
    font-weight: 500;
}

.corpo .corpo-centro .texto-corpo {
    font-family: "Open Sans", sans-serif;
    font-size: 1.8rem;
    color: #ffffff;
    max-width: 500px;
    line-height: 2.8rem;
    margin-top: 20px;
    font-weight: 300;
}

.corpo .corpo-centro .register {
    margin-top: 35px;
    
}

.corpo .corpo-centro .register a {
    transition: 0.4s ease-in-out all;
    font-weight: 300;
}

.corpo .corpo-centro .register:hover a {
   background-color:  #e882e8 ;
   color: #ffffff;
}

.corpo .corpo-centro .register .link-register {
    font-size: 1.8rem;
    color:#674baf ;
    background-color: #ffffff;
    padding: 15px 62px;
    border-radius: 50px;
}

.footer .lista-redes {
    display: flex;
    justify-content: end;
    padding: 10px 0;
    margin-right: 65px;
}

.footer .icone {

    font-size: 2rem;
    font-weight: 200;
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 0 4px;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 50%;
    line-height: 38px;
    margin: 6px;
}

.footer a .fab{
    transition: 0.3s ease all;
}

.footer a:hover .fab {
    color:  #e882e8 ;
    border: 1px solid #e882e8;
}

